



/* big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
      width: 100%;
      padding: 0 2%;
   }


  .social-nav-decider {
       display: inline-block;
       margin-left: 200px;
     }





 }




/* Small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px){


  .main-nav-social {
    display: none;
  }

  .logo {
    border-radius: 80px;
    height: 80px;
    width: auto;
    float: left;
    margin-top: 20px;
    padding-left: 100px;
  }

  .btn-header1  {
    margin-left:28%;
    }



    .om-mig img {
      display: none;
    }

    .om-mig-id2 {
      margin: auto;
      width: 100%;
    }


    .referencer {
      display: none;
    }

    .referencer-mb {
      display: block;
    }



}


/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px){

  .sticky-nav {
    width: 50%;
  }
  .h1-big {
    text-align: center;
    font-size: 150%;
    margin: auto;
    width: 50%;
    border: 1px solid #74D698;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 2%;
    margin-bottom: 75px;
    margin-top: 90px;
    text-align: center;

  }

  .hero-text-box {
    margin-top: 85px;
  }

  .btn-header1  {
    margin-left:20%;
    }

  .arrow {
    display: none;
  }

  .main-nav {display: none;}
  .mobile-nav-icon {display: inline-block;}

  .main-nav {
    float: left;
    margin-top: 35px;
    margin-left: 25px;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }

  .sticky-nav .main-navli a:link,
  .sticky-nav .main-navli a:visited
   {
    padding: 10px 0;
    color: #555;
    text-decoration: none;
  }

  .sticky-nav .main-nav {
    float: left;
    list-style: none;
    margin-top: 10px;
  }


  .header-undersites {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background-cover.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    background-attachment: fixed;
  }














}

/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

.sticky-nav {
  width: 50%;
}







  .header-undersites {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background-cover.jpg);
    background-size: cover;
    background-position: center;
    height: 52vh;
    background-attachment: fixed;
  }

  .h1-big {
    display: none;
  }

  .logo {
    border-radius: 80px;
    height: 80px;
    width: auto;
    margin-top: 20px;
    padding-left: 40%;
  }


  .btn-header1  {
    margin-left:30%;
    margin-bottom: 20px;
    }

  .btn-header2  {
    margin-left:28%;
    }

    .hero-text-box {
      margin-top: 165px;
    }

    #map {
      height: 300px;
      width: 100%;

    }

    #adress {
      text-align: center;
    }

    #adress h3 {
      margin-bottom: 30px;
      text-align: center;
    }

    #adress p {
      line-height: 200%;
    }








}
